@media screen and (max-width: 1400px) {
  :root {
    --heading-two: 30px;
  }

  .submenu .container-xl {
    max-width: 95%;
  }

  .submenu-logo-grid {
    gap: 35px;
  }

  .submenu-logo-grid img {
    height: 35px;
  }

  .top-category-thumb img {
    height: 500px;
  }

  .discount-thumb img {
    height: 750px;
  }

  .discount-content .discount-percentage,
  .discount-content .discount-percentage,
  span.gradient-dicount {
    font-size: 100px;
  }
  .discount-content h3,
  .discount-content .discount-percentage .discount-percentage-text {
    font-size: 30px;
    line-height: 1.5em;
  }
  .product-grid-item-thumb {
    height: 350px;
  }
  .tab-points {
    padding-left: 0px;
    padding-right: 0px;
  }

  .single-address-block {
    padding: 28px 30px;
    gap: 30px;
    grid-template-columns: 1fr 3fr 3fr;
  }
  /* updated styles */
  .search-content-wrapper {
    gap: 10px;
    justify-content: space-between;
  }
  .header-logo {
    width: 180px;
    height: 100px;
  }
  .header-menu-wrapper {
    justify-content: start !important;
  }
  .main-menu {
    gap: 0px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px;
  }
  .search-bar {
    padding: 8px 0;
  }
  .submenu-inner {
    padding: 30px 0;
  }
  .submenu {
    height: 60vh;
    overflow-y: scroll;
  }
  .entrance--header--wrapper .heading--title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 16px;
    text-align: center;
  }
  .site-entrance-block {
    height: 500px;
  }
  .footer-logo-col .footer-logo {
    width: 180px;
    height: 80px;
  }
  .site-entrance-block .heading-two {
    font-size: 50px;
    line-height: 64px;
  }

  .profile-tab-content {
    padding-bottom: 120px;
  }
  .point-card-value {
    font-size: 50px;
  }
  .profile-banner-bg {
    height: 250px;
  }
  .cta-content-wrapper {
    padding-left: 10px;
  }
  .btn-style-one.narrow-btn {
    padding: 9px 16px;
    font-size: 16px;
  }
  /* updated styles */

  /* new styles */
  .discount-content .discount-percentage {
    padding-top: 20px;
  }

  .discount-percentage .discount-percentage-text {
    letter-spacing: 0px;
  }
  /* new styles */
}

@media screen and (max-width: 1200px) {
  :root {
    --heading-two: 28px;
    --heading-three: 22px;
    --heading-four: 20px;
  }
  .horizontal-padding-lg {
    padding: 0;
  }
  .submenu-logo-grid img {
    height: 30px;
  }
  .submenu .container-xl {
    max-width: 100%;
  }

  .discount-content .discount-percentage,
  .discount-content .discount-percentage,
  span.gradient-dicount {
    font-size: 80px;
  }

  .discount-thumb img {
    height: 600px;
  }

  .discount-content {
    padding: 60px 80px 90px 60px;
  }
  .page-banner {
    height: 400px;
    padding-bottom: 70px;
  }

  .product-pagination-list li a {
    padding: 2px 10px;
  }
  .product-pagination-list li.midsize {
    margin: 0 5px;
  }

  .product-singleview-addcartbtn-wrapper.d-flex.gap-3 {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .singleview-additional-info.product-accordion {
    max-width: 450px;
  }
  .review-block {
    padding: 30px;
    padding-bottom: 0px;
  }
  .style-product-variation-thumb img {
    height: 130px;
  }
  .cta-content-wrapper {
    padding: 0;
  }
  .mannequin-single-tab-content img {
    height: 400px;
    width: auto;
  }

  .profile-banner-bg {
    height: 230px;
  }

  .profile-user-avatar img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--theme-white);
    border-radius: 50%;
  }

  .profile-tab-links {
    gap: 30px;
  }

  .profile-intro-content-wrapper {
    top: -40px;
  }

  .point-card-value {
    font-size: 60px;
    font-family: var(--font-family-sec);
  }

  .single-address-block {
    padding: 28px 40px;
    gap: 30px;
  }
  .single-address-block {
    grid-template-columns: 1fr 2fr 3fr;
  }
  .profile-payment-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* updated styles */
  .search-content-wrapper {
    gap: 10px;
    justify-content: space-between;
  }
  .header-logo {
    width: 140px;
    height: 90px;
  }
  .header-menu-wrapper {
    justify-content: start !important;
  }
  .main-menu {
    gap: 0px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px;
  }
  .search-bar {
    padding: 8px 0;
  }
  .submenu-inner {
    padding: 30px 0;
  }
  .entrance--header--wrapper .heading--title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 16px;
    text-align: center;
  }
  .site-entrance-block {
    height: 500px;
  }
  .footer-logo-col .footer-logo {
    width: 180px;
    height: 80px;
  }
  .site-entrance-block .heading-two {
    font-size: 50px;
    line-height: 64px;
  }
  .form-popup-content-wrapper .form-popup-fields {
    padding: 30px 20px;
  }
  .form-popup-content-wrapper {
    padding: 30px 40px;
  }
  .profile-tab-content {
    padding-bottom: 120px;
  }
  /* updated styles */

  .discount-content .discount-percentage {
    padding-top: 20px;
  }

  .discount-percentage .discount-percentage-text {
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --heading-two: 26px;
  }

  .hide-tablet {
    display: none !important;
  }

  .hide-desktop {
    display: block;
  }

  .header-main-menu {
    position: fixed !important;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    background: rgba(134, 134, 134, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.2s;
  }

  .header-main-menu.active {
    visibility: visible;
    opacity: 1;
  }

  .header-main-menu .container-xl {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .main-menu li a {
    font-size: 16px;
    font-weight: 600;
  }
  .header-menu-wrapper {
    max-width: 400px;
    width: 100%;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 90px 20px 20px 20px;
    background: var(--theme-white);
    overflow-y: scroll;
  }

  .mobile-menu-close {
    right: 15px;
    width: 35px;
    top: 15px;
    z-index: 20;
  }

  .main-menu {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .submenu-border {
    display: none;
  }

  .submenu {
    position: static !important;
    background: var(--theme-white);
    display: none;
    visibility: visible;
    opacity: 1;
  }

  .has-submenu {
    position: relative;
  }
  .has-submenu:after {
    display: none;
  }

  .submenu-cta-col a {
    display: block;
    height: 100%;
  }
  .submenu-inner {
    padding: 20px 0;
  }

  .submenu-list {
    display: none;
  }
  .submenu-list-col {
    margin-left: 15px;
    border-bottom: 1px solid var(--theme-offwhite);
    padding-bottom: 10px;
  }

  .submenu-content-wrapper {
    flex-direction: column;
  }

  .submenu-lists-col-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .submenu-logo-grid {
    display: none !important;
  }

  .submenu-opener,
  .submenu-list-opener {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    right: 10px;
    top: 0;
  }

  .submenu-opener:after,
  .submenu-list-opener:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 1px solid var(--theme-black);
    border-bottom: 1px solid var(--theme-black);
  }

  .submenu-cta-col-wrapper {
    grid-template-columns: 1fr;
  }

  .submenu-inner {
    padding: 20px 0;
    width: 100%;
  }

  .submenu-cta-col.full-height {
    height: 100px;
  }

  .top-category-thumb img {
    height: 450px;
  }

  .discount-area {
    padding: 70px 0;
  }

  .discount-content h3,
  .discount-content .discount-percentage .discount-percentage-text {
    font-size: 25px;
    line-height: 1.5em;
  }

  .top-category-link-block {
    padding: 20px;
  }

  .top-category-card:hover .top-category-link-block {
    padding: 20px 30px;
  }
  .page-banner {
    height: 350px;
    padding-bottom: 50px;
  }

  .aside-popup-inner-wrapper {
    max-width: 500px;
  }

  .style-product-variation-thumb img {
    height: 100px;
  }

  .cta-content-wrapper {
    padding: 0 15%;
  }

  .cta-content {
    text-align: center;
    margin-bottom: 30px;
  }

  .cta-content {
    padding-right: 0px;
  }

  .footer-logo-col {
    text-align: center;
    padding: 0 200px;
  }

  .single-productview-slider .single-productview-slider-items img {
    height: 135px;
    width: auto;
  }

  .review-blocks-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .footer-quicklink-col-wrapper {
    justify-content: center !important;
    margin-top: 45px;
  }
  .footer-quicklink-col h4,
  .footer-quicklinks li a {
    text-align: center;
  }
  .footer-social-col {
    gap: 10px;
  }
  .social-list ul li a img {
    width: 30px;
  }
  .mannequin-customizer-form {
    max-width: 95%;
  }
  .wishlist-cart-popup .aside-popup-inner-wrapper {
    max-width: 500px;
  }
  .wishlist-item {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .wishlist-item-top {
    display: none !important;
  }
  .wishlist-item-thumb img {
    width: 80px;
  }
  .wishlist-remove-icon img {
    width: 20px;
    height: 20px;
  }

  .wishlist-item-right {
    gap: 12px;
  }
  .wishlist-item-right .btn-style-one {
    padding: 6px 25px;
  }

  .point-card-title {
    max-width: 180px;
  }
  .point-card-content {
    gap: 50px;
  }

  .point-card-value {
    font-size: 50px;
  }

  .point-card {
    padding: 45px 25px;
  }
  .user-edit-btn {
    padding: 10px 25px;
    font-size: 14px;
  }

  .profile-tab-links .nav-link {
    font-size: 15px;
  }

  .profile-banner-bg {
    height: 150px;
  }
  .profile-user-avatar img {
    width: 150px;
    height: 150px;
  }
  .profile-intro-content-wrapper {
    top: -30px;
  }
  .profile-user-avatar {
    transform: translateY(-40px);
  }

  .profile-post-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 20px;
  }

  .single-address-block {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .profile-address-type {
    flex-basis: 15%;
  }
  .profile-address-details {
    flex-basis: 80%;
  }
  .profile-address-btn-group {
    flex-basis: 100%;
    justify-content: flex-start !important;
  }
  .profile-payment-btn-group .cs-btn {
    width: 45px;
  }
  .profile-payment-btn-group .cs-btn img {
    width: 18px;
    height: 18px;
  }
  .profile-payment-card .single-payment-method {
    padding: 5px 5px 5px 10px;
  }

  .main-post-img img {
    height: 563px;
  }

  /* updated styles */
  .header-logo {
    width: 140px;
    height: 70px;
    object-fit: contain;
  }
  .search-content-wrapper {
    gap: 48px;
    justify-content: space-between;
  }
  /* updated styles */
  /* activity popup styles */
  .footer-logo-col .footer-logo {
    width: 180px;
    height: 80px;
  }
  .entrance--header--wrapper .heading--title {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 16px;
    text-align: center;
  }
  .site-entrance-block {
    height: 450px;
  }
  .site-entrance-block .heading-two {
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
  }
  .site-entrance-content-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .site-entrance-content-wrapper .row {
    row-gap: 16px;
  }

  .hero-featured-block {
    overflow: hidden;
    height: 550px;
  }
  .profile-tab-content {
    padding-bottom: 150px;
  }
  .form-popup-content-wrapper .form-popup-fields {
    padding: 30px 20px;
  }
  .form-popup-content-wrapper {
    max-width: 90%;
    max-height: 95%;
    padding: 40px 26px;
    width: 100%;
    overflow-y: auto;
  }
  .btn-style-one.narrow-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* new styles */
  .discount-content .discount-percentage {
    padding-top: 20px;
  }

  .discount-percentage .discount-percentage-text {
    letter-spacing: 0px;
  }
  /* new styles */

  /* fixing website issues */

  .top-category-slider-wrapper::before,
  .top-category-slider-wrapper::after {
    width: 60px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px !important;
  }
  /* fixing website issues */
}

@media screen and (max-width: 767px) {
  :root {
    --heading-two: 25px;
    --heading-three: 20px;
    --heading-four: 18px;
    --text-reg: 16px;
    --text-md: 16px;
    --text-lg: 18px;
  }

  .vertical-padding {
    padding: 40px 0;
  }
  .vertical-padding-bottom {
    padding-bottom: 40px;
  }
  .vertical-padding-lg {
    padding: 70px 0;
  }
  .vertical-padding-bottom-lg {
    padding-bottom: 70px;
  }
  .vertical-padding-top {
    padding-top: 40px;
  }
  .vertical-padding-top-lg {
    padding-top: 70px;
  }

  .section-top-cta {
    margin-bottom: 40px;
  }

  .newitems-pagination .swiper-pagination-bullet {
    width: 30px;
  }
  .newitems-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 50px;
  }
  .hero-featured-content-wrapper {
    gap: 30px;
  }
  .top-category-thumb img {
    height: 400px;
  }

  .discount-thumb img {
    height: 400px;
  }

  .category-slider-arrow svg {
    width: 45px;
    height: 45px;
  }

  .featured-accessorries {
    padding-bottom: 70px;
  }

  .page-banner {
    height: 300px;
  }

  .single-productview-slider2 .single-productview-slider-items img {
    height: 400px;
  }
  .single-productview-slider .single-productview-slider-items img {
    height: 120px;
  }
  .single-productview-right {
    margin-top: 40px;
  }
  .reviews-content-wrapper {
    padding: 40px 40px 100px 40px;
  }
  .rating-bars {
    gap: 20px !important;
  }
  .rating-row {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 5px !important;
  }
  .style-product-singleview-details {
    margin-top: 40px;
  }
  .cta-content-wrapper {
    padding: 0 10%;
  }
  .style-product-variation {
    flex-direction: column;
  }
  .style-product-variation-thumb img {
    height: 100px;
    width: auto;
  }
  .style-product-variation-content.d-flex.flex-column.justify-content-between {
    gap: 15px;
  }
  .style-product-variation-thumb {
    text-align: center;
  }
  .style-product-variation-row {
    flex-direction: column;
    align-items: center !important;
    gap: 10px;
  }
  .footer-logo-col {
    text-align: center;
    padding: 0 50px;
  }
  .mannequin-try-products-wrapper {
    margin-top: 50px;
  }
  .mannequin-form-fields-wrapper {
    padding: 0px;
  }

  .log-in-area {
    padding: 60px 0px;
  }
  .checkout-area {
    padding: 70px 0;
  }

  .checkout-step-number {
    width: 60px;
    height: 60px;
  }
  .checkout-step-divider {
    transform: translateY(27px);
  }
  .checkout-step {
    min-width: 120px;
  }

  .form-popup-content-wrapper {
    max-width: 95%;
  }

  .summary-product-left {
    flex-basis: 75%;
  }
  .summary-product-row {
    gap: 40px;
  }
  .voucher-apply-form-fields {
    flex-direction: column;
    gap: 10px;
  }
  .checkout-button-wrapper {
    flex-direction: column;
  }

  .payment-details {
    padding: 0px;
  }
  .tab-points-grid {
    grid-template-columns: 1fr;
    padding: 0 15%;
  }

  .point-card-title {
    max-width: 100%;
    text-align: center;
  }
  .point-card-value {
    font-size: 40px;
    text-align: center;
  }

  .points-hint {
    margin-bottom: 10px;
  }
  .profile-tab-links {
    gap: 15px 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .point-card-content {
    gap: 20px;
    flex-direction: column;
  }

  .point-card {
    flex-direction: column;
  }

  .profile-user-avatar img {
    width: 130px;
    height: 130px;
  }
  .profile-intro-content-wrapper {
    top: -20px;
  }
  .profile-user-avatar {
    transform: translateY(-30px);
  }
  .user-edit-btn {
    padding: 8px 19px;
    font-size: 12px;
  }
  .profile-address-type {
    flex-basis: 20%;
  }
  .single-address-block {
    gap: 15px;
  }

  .profile-payment-cards-grid {
    grid-template-columns: 1fr;
  }

  .form-field-grid-col2 {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .main-post-img img {
    height: 500px;
  }

  /* updated styles */
  .search-content-wrapper {
    gap: 15px;
  }
  .entrance--header--wrapper .logo,
  .header-logo {
    width: 180px;
    height: 60px;
  }
  .header-logo-wrapper {
    gap: 10px !important;
  }
  .user-post-card-content-wrapper {
    padding: 18px 24px;
  }
  .topbar {
    padding: 12px;
    position: relative;
    font-size: 15px;
  }
  /* updated styles */
  /* activity popup styles */
  .user--activity--popup--wrapper .user--activity--popup--content {
    padding: 40px 24px;

    width: 90%;
    margin: 120px 0px;
  }
  .user--activity--popup--content .top--area .title {
    font-size: 26px;
    line-height: 32px;
  }
  .user--activity--popup--content .top--area .close {
    width: 35px;
    height: 35px;
  }
  .user--activity--popup--content .form--area {
    gap: 20px;
  }
  .user--activity--popup--content .form--area .text--holder {
    height: 90px;
  }
  .user--activity--popup--content .form--area .submit--btn {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    padding: 10px 0px;
    margin-top: 24px;
  }
  .user--activity--popup--content .form--area .option--input {
    gap: 12px;
  }
  .user--activity--popup--content .form--area .option--input .side--icon {
    width: 16px;
    height: 16px;
  }
  .user--activity--popup--content .form--area textarea,
  .user--activity--popup--content .form--area input {
    font-size: 15px;
    line-height: 20px;
    padding: 14px;
  }
  .user--activity--popup--wrapper.poll--area .add--input {
    font-size: 16px;
    line-height: 28px;
  }
  /* activity popup styles */
  .footer-logo-col .footer-logo {
    width: 180px;
    height: 80px;
  }
  .entrance--header--wrapper .heading--title {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 16px;
    text-align: center;
  }
  .site-entrance-block {
    height: 450px;
  }
  .site-entrance-block .heading-two {
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
  }
  .hero-featured-block {
    overflow: hidden;
    height: 550px;
  }

  .profile-tab-content {
    padding-bottom: 100px;
  }
  .form-popup-content-wrapper .form-popup-fields {
    padding: 20px 15px;
  }

  /* newly updated styles */
  .style-singleview-inspected {
    width: 100%;
    padding: 0px 12px;
  }

  .style-singleview-inspected-thumb img {
    height: 400px;
  }
  .style-product-inspection-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .style-product-singleview-thumb .inspection-thumb-img {
    height: 360px;
    object-fit: cover;
  }
  .product-hotspot {
    width: 80%;

    gap: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .product-hotspot-content .style-product-variation-thumb img,
  .product-hotspot-content .style-product-variation-thumb img {
    height: 168px;
    min-width: 150px;
    object-fit: cover;
  }
  .product-hotspot-content.style-product-variation {
    flex-direction: row;
  }
  .product-hotspot-content .style-product-variation-row.top--part {
    flex-direction: row;
    gap: 6px;
  }
  .product-hotspot-content .style-product-variation-content {
    padding: 8px;
  }
  .product-hotspot-content .style-product-variation-row {
    flex-direction: column;
    align-items: start !important;
    gap: 10px;
  }

  .product-hotspot-content .style-product-variation-row.pricing--area {
    flex-direction: row;
  }
  .product-hotspot-content .style-product-variation-row.top--part {
    align-items: center !important;
  }
  .product-hotspot-content .style-product-variation {
    border: none;
    margin-bottom: 0;
    padding: 14px 8px;
    flex-direction: row;
  }
  .product-hotspot-content
    .style-product-variation-row.pricing--area
    .heading-three {
    color: #fff;
    font-size: 18px;
  }
  .product-hotspot-content .add-cart-btn .color-red {
    color: #fff;
    font-size: 15px;
  }

  /* new styles */
  .discount-content .discount-percentage {
    padding-top: 20px;
  }

  .discount-percentage .discount-percentage-text {
    letter-spacing: 0px;
  }
  /* new styles */

  /* fixing website issues */

  .top-category-slider-wrapper::before,
  .top-category-slider-wrapper::after {
    width: 40px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px !important;
  }
  /* fixing website issues */
}

@media screen and (max-width: 575px) {
  .btn-style-one {
    padding: 10px 30px;
  }
  .section-top-cta {
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  .search-bar {
    padding: 12px 0;
  }
  .header-logo-wrapper,
  .header-link-icons-wrapper {
    justify-content: center !important;
  }

  .top-category-thumb img {
    height: 350px;
  }
  .product-grid-item-thumb {
    height: 240px;
  }
  .discount-content {
    padding: 35px;
  }
  .discount-content .discount-percentage,
  .discount-content .discount-percentage,
  span.gradient-dicount {
    font-size: 65px;
  }
  .discount-content h3,
  .discount-content .discount-percentage .discount-percentage-text {
    font-size: 22px;
    line-height: 1.5em;
  }

  .product-info,
  .product-add-cart {
    flex-direction: column;
    gap: 5px !important;
    justify-content: flex-start !important;
  }
  .product-info {
    align-items: flex-start !important;
  }
  .product-add-cart {
    padding: 16px 0;
    align-items: flex-end !important;
  }
  .product-card-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .page-banner {
    height: 300px;
  }

  .single-productview-slider2 .single-productview-slider-items img {
    height: 270px;
  }

  .single-productview-title-wrapper {
    flex-direction: column;
  }
  .single-product-quicklinks-wrapper {
    width: auto;
    flex-direction: row !important;
  }
  .single-productview-content-wrapper {
    order: 1;
  }
  .single-productview-content {
    flex-direction: column;
    align-items: flex-start !important;
    padding-right: 0;
  }
  .single-productview-content .card-rating-wrapper {
    position: static !important;
  }
  .cta-content-wrapper {
    padding: 0;
  }
  .user-avatar img {
    width: 40px;
    height: 40px;
  }
  .reviews-content-wrapper {
    padding: 40px 20px 40px 20px;
  }
  .user-info,
  .user-rating-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .subscribe-form-feilds {
    flex-direction: column;
    gap: 15px;
  }
  .review-block {
    padding: 0px;
  }
  .mannequin-customizer-form {
    padding: 30px;
  }
  .mannequin-form-field-row {
    grid-template-columns: 1fr;
  }
  .measurement-unit-wrapper {
    margin: 30px 0;
  }
  .mannequin-form-heading {
    gap: 25px;
  }
  .mannequin-single-tab-content img {
    height: 350px;
  }
  .mannequin-customizer-btn {
    padding: 0px;
  }
  .footer-logo-col {
    text-align: center;
    padding: 0;
  }

  .aside-popup-inner-wrapper {
    max-width: 640px;
    margin-left: auto;
    padding: 50px 0px 50px 20px;
    height: 100vh;
  }
  .aside-popup-inner {
    padding-right: 20px;
  }

  .policy-terms-area {
    padding: 30px 0;
    flex-direction: column;
    gap: 15px;
  }
  .cs-form-card {
    padding: 30px 25px;
  }
  .file-uploader-wrapper {
    flex-direction: column;
    margin-top: 40px !important;
  }
  .photo-name-size {
    text-align: center;
  }
  .register-image-upload img {
    width: 20px;
    height: 20px;
  }

  .form-popup-content-wrapper .form-popup-fields {
    padding: 0;
    margin-top: 30px;
  }
  .form-popup-content-wrapper {
    padding: 40px 30px;
  }
  .address-field-row {
    gap: 15px;
  }

  .address-field-row,
  .address-field-row input::placeholder {
    font-size: 14px;
  }

  .address-field-row input::placeholder {
    max-width: 90%;
    word-break: break-all;
    white-space: normal;
  }

  .summary-product-thumb {
    width: 50px;
    height: 50px;
  }

  .summary-product-left .summary-product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .summary-product-left {
    flex-basis: 50%;
  }
  .summary-product-row {
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid var(--theme-gray);
  }

  .summary-product-right {
    gap: 20px;
  }

  .voucher-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
    position: relative;
  }

  .vourcher-copyier {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .price-text-row {
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px !important;
  }

  .total-price {
    margin-bottom: 0 !important;
  }
  .single-payment-method {
    padding: 15px;
  }

  .payment-methods-wrapper label {
    margin-right: 15px;
  }

  .tab-points-grid {
    padding: 0;
  }
  .user-edit-btn {
    padding: 8px 19px;
    font-size: 12px;
  }

  .profile-intro-content-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
    margin-bottom: 20px;
  }
  .user-profile-edit {
    margin-left: 10px;
    margin-top: -5px;
  }

  .profile-post-grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .single-address-block {
    padding: 20px;
  }

  .profile-address-btn-group {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .single-payment-method {
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
  }

  .profile-payment-btn-group {
    margin-left: 0;
  }
  .profile-intro-content {
    flex-direction: column;
    gap: 0px !important;
  }
  .profile-user-avatar {
    transform: translateY(-50px);
  }

  .profile-username-wrapper {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -30px;
  }
  .profile-intro-content-wrapper {
    align-items: center !important;
    margin-bottom: 20px;
  }

  .profile-tab-links {
    justify-content: center;
  }
  .user-edit-btn {
    padding: 3px 18px;
    font-size: 12px;
  }
  .user-post-card-content-wrapper {
    padding: 23px 20px;
  }
  .user-post-card-upper-area,
  .user-post-card-upper-area-right,
  .user-post-card-upper-area-left {
    align-items: unset !important;
    flex-direction: column;
  }

  .user-post-card-upper-area-right-img img {
    width: 59px;
    height: 59px;
  }
  /* =====feed area==== */
  .feed-content-common-heading,
  .feed-post-author {
    align-items: center;
    padding: 30px 8px 24px;
  }
  .btn-style-one.narrow-btn {
    padding: 4px 25px;
    font-size: 10px;
  }
  .main-post-img img {
    height: 320px;
  }
  .main-post-icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .main-post-para {
    margin: 23px 0px 23px 0px;
  }
  .comment-para {
    margin: 0px 0px;
  }

  .single-post .feed-content-common-heading {
    padding-top: 10px;
  }

  .user-post-card-upper-area-left .dropdown-menu-comment.show {
    margin-left: 73px;
  }

  /* updated styles */
  .entrance--header--wrapper .logo,
  .header-logo {
    width: 150px;
    height: 60px;
  }
  .entrance--header--wrapper .heading--title {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 16px;
    text-align: center;
  }
  .topbar {
    padding: 8px;
    position: relative;
    font-size: 14px;
  }
  .topbar .close--button {
    width: 14px;
    right: 10px;
  }
  .site-entrance-block {
    height: 350px;
  }
  .site-entrance-block .heading-two {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
  }
  .search-content-wrapper {
    gap: 15px;
    justify-content: center;
  }
  .footer-logo-col .footer-logo {
    width: 160px;
    height: 60px;
  }
  .footer-logo-col .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .profile-tab-content {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .header-logo-wrapper {
    gap: 0;
  }

  .form-field-row.postal--code .search--btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 24px;
  }
  .form-field-row.postal--code input {
    padding-right: 120px;
  }
  .user-post-card-lower-area-content-item {
    gap: 12px;
  }
  /* updated styles */

  /* activity popup styles */
  .user--activity--popup--wrapper .user--activity--popup--content {
    padding: 20px 12px;

    width: 90%;
    margin: 120px 0px;
  }
  .user--activity--popup--content .top--area .title {
    font-size: 20px;
    line-height: 28px;
  }
  .user--activity--popup--content .top--area .close {
    width: 35px;
    height: 35px;
  }
  .user--activity--popup--content .form--area {
    gap: 12px;
  }
  .user--activity--popup--content .form--area .text--holder {
    height: 90px;
  }
  .user--activity--popup--content .form--area .submit--btn {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    padding: 10px 0px;
    margin-top: 24px;
  }
  .user--activity--popup--content .form--area .option--input {
    gap: 12px;
  }
  .user--activity--popup--content .form--area .option--input .side--icon {
    width: 16px;
    height: 16px;
  }
  .user--activity--popup--content .form--area textarea,
  .user--activity--popup--content .form--area input {
    font-size: 15px;
    line-height: 20px;
    padding: 12px;
  }
  .user--activity--popup--wrapper.poll--area .add--input {
    font-size: 16px;
    line-height: 28px;
  }

  /* activity popup styles */

  .main-post-icon svg {
    width: 20px;
    height: 20px;
  }
  .hero-featured-block {
    overflow: hidden;
    height: 450px;
  }

  .form-popup-content-wrapper
    .form-popup-fields
    .post--code--search
    .search--btn {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 40px;
  }

  /* newly updated styles */
  .style-singleview-inspected {
    width: 100%;
    padding: 0px 12px;
  }

  .style-singleview-inspected-thumb img {
    height: 400px;
  }
  .style-product-inspection-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .style-product-singleview-thumb .inspection-thumb-img {
    height: 360px;
    object-fit: cover;
  }
  .product-hotspot {
    width: 100%;

    gap: 30px;
    right: 0 !important;
  }
  .product-hotspot-content .style-product-variation-thumb img,
  .product-hotspot-content .style-product-variation-thumb img {
    height: 168px;
    width: 120px;
    object-fit: cover;
    min-width: auto;
  }
  .product-hotspot-content.style-product-variation {
    flex-direction: row;
  }
  .product-hotspot-content .style-product-variation-row.top--part {
    flex-direction: row;
    gap: 6px;
  }
  .product-hotspot-content .style-product-variation-content {
    padding: 8px;
  }
  .product-hotspot-content .style-product-variation-row {
    flex-direction: column;
    align-items: start !important;
    gap: 10px;
  }

  .product-hotspot-content .style-product-variation-row.pricing--area {
    flex-direction: row;
  }
  .product-hotspot-content .style-product-variation-row.top--part {
    align-items: center !important;
  }
  .product-hotspot-content .style-product-variation {
    border: none;
    margin-bottom: 0;
    padding: 14px 8px;
  }
  .product-hotspot-content
    .style-product-variation-row.pricing--area
    .heading-three {
    color: #fff;
    font-size: 18px;
  }
  .product-hotspot-content .add-cart-btn .color-red {
    color: #fff;
    font-size: 15px;
  }

  /* website fixing styles */
  .product-grid-item-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 12px;
    padding: 24px 12px;
  }

  .trenidng .product-grid-item-wrapper {
    padding: 0px 12px;
  }

  .product-grid-item {
    padding: 0 !important;
    margin: 0 !important;
  }

  .discount-content .discount-percentage {
    padding-top: 20px;
  }

  .discount-percentage .discount-percentage-text {
    letter-spacing: 0px;
  }
  .product-add-cart p {
    font-size: 15px;
  }

  .product-add-cart .add-cart-icon {
    width: 18px !important;
    height: 18px !important;
  }

  /* website fixing styles */

  /* fixing website issues */

  .top-category-slider-wrapper::before,
  .top-category-slider-wrapper::after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /* fixing website issues */
}

/* fixing navabr on mobile devices */
@media only screen and (min-width: 360px) and (max-width: 510px) {
  .search-content-wrapper {
    gap: 0px;
    justify-content: space-between;
    padding: 0px 6px;
  }

  .header-logo {
    width: 90px;
    height: 60px;
  }
  .header-logo-wrapper {
    gap: 0px !important;
  }
  .header-link-icons-wrapper {
    gap: 8px !important;
  }
  .search-content-wrapper .col-lg-3 {
    padding: 0px;
  }
  .header-link-icon img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
/* fixing navabr on mobile devices */

/* swiper button issues */
